
.about-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px repeat(4,1fr) 60px;
    background: url("../img/forest.webp") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* NAVBAR */
.navbar{
    grid-column: 1 / span 4;
    grid-row: 1 / 2;
}

/* FACTBOXES */
.fact-box {
    grid-template-columns: repeat(3, 1fr);
    grid-row-end: span 1;
    background-color: rgba(227,196,175,0.8);
    align-items: center;
    border: 2px solid #916900;
}

.left{
    grid-column: 1 / span 3;
    border-radius: 0 50px 50px 0;
    justify-items: right;
    border-right: none;
}

.left .facts {
    padding-left: 8px;
}


.right{
    grid-column: 2 / span 3;
    border-radius: 50px 0 0 50px;
    border-left: none;
    justify-items: left;
}

.right .fact-img {
    order: 0
}

.right .audio-box {
    order: 1
}

.right .facts {
    order: 2
}




.fact-box h2 {
    text-align: center;
}

.facts p {
    padding: 0 10px;
}

.fact-img {
    border-radius: 30px;
    height: 300px;
}

.audio-box iframe {
    border-radius: 20px;;
}

/* FOOTER */

.footer {
    grid-column: 1 / span 4;
    grid-row: 6/ span 1;
}

@media only screen and (max-width: 1200px) {
    .about-container {
        grid-template-columns: 1fr;
    }

    .left {
        grid-column: 1 / span 1;
    }

    .right {
        grid-column:  1 / span 1;
    }

    .fact-box {
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;    
    }

    .fact-box img {
        order: 0;
    }

    .fact-box .facts {
        order: 1;
    }

    .fact-box .audio-box {
        order: 2;
    }
}